@import './variables/global';
@import './themes/dark';
@import './themes/normal';
@import './reset';

.app {
  color: var(--primary-color);

  background-color: var(--bg-color);

  font: var(--font-m);
  transition: background-color ease 300ms, color ease 300ms;
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}
