.modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  color: var(--inverted-primary-color);
}

.overlay {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-overlay-bg);
}

.content {
  max-width: 60%;

  padding: 20px;
  border-radius: 12px;
  background-color: var(--inverted-bg-color);
  transform: scale(0.5);
  transition: transform ease var(--transition-duration);
  color: var(--inverted-primary-color);
}

.open {
  opacity: 1;
  pointer-events: all;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }

  .content.dark {
    background-color: var(--bg-color);
    color: var(--inverted-bg-color);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
