.button {
  cursor: pointer;

  padding: 10px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  background: none;
  border: none;
  color: var(--primary-color);
}

.outline {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
  border-radius: 0;
}

.square.sizeM {
  height: var(--font-line-m);
  width: var(--font-line-m);
}

.square.sizeL {
  height: var(--font-line-l);
  width: var(--font-line-l);
}

.square.sizeXl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
}

.sizeM {
  font: var(--font-m);
}

.sizeL {
  font: var(--font-l);
}

.sizeXl {
  font: var(--font-xl);
}
