.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width var(--transition-duration);
}

.switchers {
  width: 100%;

  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.collapsedBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.items {
  margin-top: 20px;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  display: block;

  .switchers {
    flex-direction: column;

    margin: 0;
  }

  .link {
    opacity: 0;
    transition: all ease var(--transition-duration);

    width: 0;
  }
}
