.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: all ease var(--transition-duration);

    width: 0;
  }
}
