.app_orange_theme {
  --bg-color: #047C51;
  --inverted-bg-color: #F5FBF4;
  --primary-color: #cfe183;
  --secondary-color: #E0E0E0;
  --inverted-primary-color: #616161;
  --inverted-secondary-color: #9E9E9E;
}