.navbar {
  height: var(--navbar-height);
  width: 100%;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: var(--inverted-bg-color);
}

.mainLink {
  margin-right: 15px;
}
